:root {
    /* CSS HEX */
    --rich-black: #000a14ff;
    --rich-gray: #001021ff;
    --honeydew: #e1efe6ff;
    --ashes: #c8d3cdff;
    --ash-gray: #aeb7b3ff;

    /* CSS HSL */
    /* --rich-black: hsla(210, 100%, 4%, 1);
    --rich-black-2: hsla(211, 100%, 6%, 1);
    --honeydew: hsla(141, 30%, 91%, 1);
    --ash-gray: hsla(147, 11%, 81%, 1);
    --ash-gray-2: hsla(153, 6%, 70%, 1); */


    --nav-width: 300px;
    --page-width: 900px;
}

body {
    background-color: var(--honeydew);
    color: black;
    margin: 0;
    padding: 0;
    justify-content: center;
    box-sizing: border-box;
}

.navbar {
    background-color: var(--rich-gray);
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    position:fixed;
    height: 100%;
    width: var(--nav-width);
    top: 0;
    box-sizing: border-box;
}

.logoDiv {
    width: 100%;
    height: 180px;
    background: var(--rich-black);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoLink img {
    height: 100px;
}

.indexDiv {
    color: var(--ash-gray);
    padding: 10px 25px;
}

.indexDiv a {
    text-decoration: none;
    color: var(--honeydew);
}

.indexDiv h3 {
    margin: 30px 0 0 0;
}

.indexDiv ul {
    padding: 0 0 0 16px;
    margin-top: 10px;
}

.indexDiv li {
    margin-bottom: 5px;
}

.indexDiv li::marker {
    content: none;
}

.footer {
    background: var(--rich-black);
    color: var(--honeydew);
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.footer-list {
    display: flex;
    width: 80%;
    margin: 10px;
    padding: 0;
    justify-content: center;
}

.footer img {
    max-height: 20px;
    margin: 0 10px 0 10px;
}

.footer-list li::marker {
    content: "";
}
.footer-list a {
    color: var(--federal-blue);
    text-decoration: none;
}

.robotImage {
    background-image: 
    linear-gradient(90deg, hsla(36, 16%, 6%, 0.7), hsla(222, 92%, 90%, 0)),
        url(images/robotSphere_xu-haiwei.jpg);
    height: 400px;
    background-position: center, center;
    background-repeat: no-repeat;
    background-size: cover, 100%;
    margin: 50px 0 0 0;
    display: flex;
    align-items: center;
}

.content {
    margin: 0 0 0 var(--nav-width);
    max-width: var(--page-width);
    background: white;
    height: 100%;
    box-sizing: border-box;
    padding: 50px;
}

.contentBody {
    height: 100%;
}

.reportContent {
    margin: 0 0 0 var(--nav-width);
    max-width: var(--page-width);
    background: white;
    height: 100vh;
    box-sizing: border-box;
    padding: 0;
}

.reportContent iframe {
    height: 100%;
    width: 100%;
    border: none;
}