:root {
    /* CSS HEX */
    --rich-black: #000a14ff;
    --rich-gray: #001021ff;
    --honeydew: #e1efe6ff;
    --ashes: #c8d3cdff;
    --ash-gray: #aeb7b3ff;
    --ash-gray-trans: #aeb7b333;
    --blue: #654ef0;
    --links: #4C32EE;
    --gray: #606c71;

    /* CSS HSL */
    /* --rich-black: hsla(210, 100%, 4%, 1);
    --rich-black-2: hsla(211, 100%, 6%, 1);
    --honeydew: hsla(141, 30%, 91%, 1);
    --ash-gray: hsla(147, 11%, 81%, 1);
    --ash-gray-2: hsla(153, 6%, 70%, 1); */


    --nav-width: 300px;
    --page-width: 900px;

    --font-sans: "Fira Sans", sans-serif;
    --font-mono: "JetBrains Mono",  "Fira Code", monospace;
}

html, body {
    font-family: var(--font-sans);
    background-color: var(--honeydew);
    color: black;
    margin: 0;
    padding: 0;
    border: none;
}

* {
    box-sizing: border-box;
}

.navbar {
    background-color: var(--rich-gray);
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    position:fixed;
    height: 100%;
    width: var(--nav-width);
    top: 0;
}

.logoDiv {
    width: 100%;
    min-height: 180px;
    background: var(--rich-black);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoLink img {
    height: 100px;
}

.indexDiv {
    color: var(--ash-gray);
}

.indexDiv a {
    /* font-size: 14px; */
    text-decoration: none;
    color: var(--honeydew);
    height: 28px;
    width: var(--nav-width);
    display: flex;
    align-items: center;
    padding-left: 36px;
}

.indexDiv h3 {
    margin: 32px 0 5px 24px;
    font-size: medium;
}

.indexDiv ul {
    padding: 0;
    margin-top: 0;
}

.indexDiv li {
    height: 28px;
    display: flex;
    align-items: center;
}

.indexDiv li:hover {
    background: var(--ash-gray-trans);
}

.indexDiv li::marker {
    content: none;
}

.footer {
    background: var(--rich-black);
    color: var(--honeydew);
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.footer-list {
    display: flex;
    width: 80%;
    margin: 10px;
    padding: 0;
    justify-content: center;
}

.footer img,
.footer a {
    height: 20px;
    margin: 0 10px 0 10px;
}

.footer-list li::marker {
    content: "";
}
.footer-list a {
    color: var(--federal-blue);
    text-decoration: none;
    width: 40px;
}

.robotImage {
    background-image: 
    linear-gradient(90deg, hsla(36, 16%, 6%, 0.7), hsla(222, 92%, 90%, 0)),
        url(images/robotSphere_xu-haiwei.jpg);
    height: 400px;
    background-position: center, center;
    background-repeat: no-repeat;
    background-size: cover, 100%;
    margin: 50px 0 0 0;
    display: flex;
    align-items: center;
}

.content {
    margin: 0 0 0 var(--nav-width);
    max-width: var(--page-width);
    background: white;
    min-height: 100vh;
    padding: 50px;
}

.contentBody {
    height: 100%;
}

.reportContent {
    margin: 0 0 0 var(--nav-width);
    max-width: var(--page-width);
    height: 100%;
    padding: 0;
}

.currentPage {
    background: var(--ash-gray-trans);
}

textarea {
    font-family: var(--font-mono);
    font-size: 14px;
    width: 100%;
    max-width: 100%;
    background: var(--ash-gray-trans);
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.buttonBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 16px;
}

button {
    padding: 5px;
    min-width: 100px;
    max-height: 30px;
    background: var(--ash-gray);
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

button:hover {
    background: var(--blue);
    color: white;
}

#userInput {
    min-height: 28px;
    width: 20em;
    background: var(--honeydew);
    border: 1px solid var(--ash-gray);
    border-radius: 5px;
    margin-right: 1em;
}

.landingImage img {
    width: calc(100% + 100px);
    margin: -50px -50px 0 -50px;
}

.landingBox {
    display: flex;
    align-items: center;
}

.landingBox img {
    max-width: 40%;
    max-height: 200px;
    padding-left: 20px;
}

.content h1 {
    border-bottom: 2px solid var(--gray);
}

.content a {
    text-decoration: none;
    color: var(--links);
}

.content a:hover {
    font-weight: bold;
}

.inlineCode {
    font-family: var(--font-mono);
    background: var(--honeydew);
    padding: 0 0.3em 0 0.3em;
}